.hamburger {
  display: none;
  flex: auto;
  width: 100%;
  justify-content: center;
}

.bar-container {
  display: grid;
  place-items: center;
  gap: 0.6rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
  transition: 200ms ease-in-out;
}

.bar {
  opacity: 0;
  width: 75%;
  height: 2px;
  border-radius: 1px;
  background-color: var(--nav-clr);
  animation: nav-link-fade 0.4s ease-in-out 1s forwards;
}
.bar:nth-child(2) {
  width: 2.1rem;
  animation-delay: 0.75s;
}
.bar:nth-child(3) {
  width: 75%;
  animation-delay: 0.5s;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
  width: 100vw;
  background-color: var(--primary-bg);
  box-shadow: 0 4px 0.3rem var(--box-shadow-clr);
  position: fixed;
  top: 4rem;
  transition: 400ms all ease-in-out;
}

.menu a {
  color: var(--nav-clr);
}

.hidden {
  opacity: 0;
  top: 6rem;
}
