.hamburger {
  display: none;
  opacity: 0;
  width: 100%;
  justify-content: center;
  animation: nav-link-fade 400ms 500ms ease-in-out forwards;
}

.bar-container {
  display: grid;
  place-items: center;
  gap: 0.6rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
  transition: 200ms ease-in-out;
}

.bar {
  width: 70%;
  height: 0.115rem;
  border-radius: 1px;
  background-color: var(--primary-clr);
  transition: 300ms ease-in-out;
}
.bar:nth-child(2) {
  width: 2.1rem;
}
.bar:nth-child(3) {
  width: 70%;
}

.bar.anim {
  rotate: 135deg;
  width: 2.1rem;
  translate: -0.3px 0.71rem;
}
.bar.anim:nth-child(2) {
  scale: 0;
  rotate: none;
  translate: none;
}
.bar.anim:nth-child(3) {
  rotate: -135deg;
  translate: -0.3px -0.7rem;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 1.25rem 0;
  left: -57.5px;
  width: 100vw;
  background-color: var(--primary-bg);
  box-shadow: 0 4px 0.3rem var(--box-shadow-clr);
  position: absolute;
  top: 3rem;
  transition: 300ms ease-in-out;
}

.menu.hide {
  opacity: 0;
  visibility: collapse;
  transform: translateY(-1rem);
}
