.animate {
  opacity: 0;
  animation: intro-fade 400ms ease-in-out forwards;
}
@keyframes intro-fade {
  from {
    transform: translateY(4rem);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

:is(.intro-buttons, .intro-links) {
  display: flex;
  gap: 1rem;
}

.intro-btn {
  width: fit-content;
  border: 0.12rem solid var(--accent-clr);
  border-radius: 0.5rem;
  padding: 0.8rem 1.2rem;
}
a.intro-btn {
  transition: 200ms border-color ease-in-out, 200ms background-color ease-in-out,
    300ms color ease-in-out;
}

@media (hover: hover) {
  .intro-btn:not(.intro-greet):hover {
    cursor: pointer;
    border-color: var(--secondary-clr);
    background-color: var(--alt-bg);
  }
}

.intro-greet {
  border-radius: 1.5rem 1.5rem 1.5rem 0;
  margin-bottom: 1.5rem;
}
.intro-greet::selection {
  background: transparent;
}

@media (max-width: 520px) {
  .intro-btn {
    padding: 0.5rem 1rem;
  }
}
