.animate {
  opacity: 0;
  animation: hero-fade 400ms ease-in-out forwards;
}
@keyframes hero-fade {
  from {
    transform: translateY(4rem);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

:is(.hero-buttons, .hero-links) {
  display: flex;
  gap: 1rem;
}

.hero-btn {
  border: 0.12rem solid var(--accent-clr);
  border-radius: 0.5rem;
  padding: 0.8rem 1.2rem;
}
a.hero-btn {
  transition: 200ms border-color ease-in-out, 200ms background-color ease-in-out,
    300ms color ease-in-out;
}

@media (hover: hover) {
  .hero-btn:not(.hero-greet):hover {
    cursor: pointer;
    border-color: var(--secondary-clr);
    background-color: var(--alt-bg);
  }
}

.hero-greet {
  border-radius: 1.5rem 1.5rem 1.5rem 0;
  margin-bottom: 1.5rem;
  width: fit-content;
}
.hero-greet::selection {
  background: transparent;
}

@media (max-width: 520px) {
  .hero-btn {
    padding: 0.5rem 1rem;
  }
}
