.tech-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.tech-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--tech-bg);
  color: white;
  border-radius: 0.5rem;
  padding: 0.4rem 0.8rem;
  box-shadow: 0 0 2px 0 black;
  transition: 300ms ease-in-out;
  transition-property: background-color, transform, opacity;
  transition-delay: 0s, 1.7s, 1.7s;
}
.tech-icon img {
  width: 2.5rem;
  height: 2.5rem;
}
.tech-icon.hidden {
  transform: translateX(-1rem);
}
.tech-icon:nth-child(2) {
  transition-delay: 0s, 1.8s, 1.8s;
}
.tech-icon:nth-child(3) {
  transition-delay: 0s, 1.9s, 1.9s;
}
.tech-icon:nth-child(4) {
  transition-delay: 0s, 2s, 2s;
}
.tech-icon:nth-child(5) {
  transition-delay: 0s, 2.1s, 2.1s;
}
.tech-icon:nth-child(6) {
  transition-delay: 0s, 2.2s, 2.2s;
}
.tech-icon:last-child {
  transition-delay: 0s, 2.3s, 2.3s;
}

@media (max-width: 540px) {
  .tech-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 400px) {
  .tech-icon { 
    padding: 0.3rem 0.6rem; 
    font-size: 0.9rem; 
  }
  .tech-icons { gap : 1rem; }
}
