.nav {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  padding: 1em 2em;
  background-color: var(--primary-bg);
  margin-bottom: 1rem;
  z-index: 1;
  align-items: center;
  box-shadow : 0 1px 0.2em 0.1em rgb(9, 9, 9);
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex: 3;
  font-size: 1.1em;
}

.nav-icon {
  height: 2.1em;
}

.nav-icon.clr-scheme {
  transition : 0.5s;
  fill : var(--primary-clr);
  transform: rotate(0deg);
}

.clr-scheme.rotate {
  transform: rotate(180deg);
}

.nav-icon:hover {
  filter : brightness(1.2);
  cursor : pointer;
}

.nav-logo {
  width:2.1em;
  height:2.1em;  
  background: linear-gradient(90deg, #ff00ff 0%, #ff0000 100%);
  padding:0.25em;
  border-radius: 0.5em;
  transition: filter 150ms ease-in-out;
}

.nav-logo:hover{
  filter : saturate(1.25);
  
  cursor:pointer;
}

.nav-link {
  list-style: none;
}
