.nav {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: 1.25rem 2.5rem;
  background-color: var(--primary-bg);
  transition: 300ms ease-in-out;
  transition-property: background-color, box-shadow, padding, margin-bottom;
  z-index: 1;
}

.nav-shadow {
  padding: 0.75rem 2.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 0.75rem 0.1rem var(--box-shadow-clr);
}

@media (max-width: 400px) {
  .nav { padding: 1.25rem 1.5rem; }
  .nav-shadow { padding: 0.75rem 1.5rem; }
}

.mode-container {
  opacity: 0;
  display: flex;
  padding: 0.2rem;
  border-radius: 50%;
  animation: nav-link-fade 400ms ease-in-out forwards;
  transition: 200ms ease-in-out;
}
:is(.mode-container,.bar-container):active {
  cursor: pointer;
  background-color: rgba(163, 163, 219, 0.408);
}

.nav-icon {
  height: 2.1rem;
  width: 2.1rem;
}

.clr-scheme {
  fill: var(--nav-clr);
  stroke: var(--nav-clr);
}

.nav-logo {
  opacity: 0;
  background: linear-gradient(
    90deg,
    hsl(233, 100%, 65%) 0%,
    hsl(19, 61%, 55%) 100%
  );
  fill: white;
  padding: 0.25rem;
  border-radius: 0.5rem;
  animation: nav-link-fade 400ms ease-in-out forwards;
}

@media (hover : hover) {
  :is(.mode-container,.bar-container):hover {
    cursor: pointer;
    background-color: rgba(163, 163, 219, 0.408);
  }
}