.nav {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.25rem 2.5rem;
  background-color: var(--primary-bg);
  transition: 
    300ms background-color ease-in-out, 
    300ms box-shadow ease-in-out,
    250ms padding ease-in-out, 
    250ms margin-bottom ease-in-out;
  z-index: 1;
}

.nav-shadow {
  padding: 0.75rem 2.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 0.75rem 0.1rem var(--box-shadow-clr);
}

@media (max-width: 400px) {
  .nav { padding: 1.25rem 1.5rem; }
  .nav-shadow { padding: 0.75rem 1.5rem; }
}

.nav-icon-container {
  opacity: 0;
  display: flex;
  padding: 0.2rem;
  border-radius: 50%;
  animation: nav-link-fade 300ms ease-in-out forwards;
  transition: background-color 200ms ease-in-out;
}
.nav-icon-container:active, .bar-container:active {
  cursor: pointer;
  background-color: rgba(163, 163, 219, 0.408);
}

.nav-icon {
  height: 2.1rem;
  width: 2.1rem;
  transition: 150ms filter ease-in-out;
}

.nav-icon.clr-scheme {
  fill: var(--nav-clr);
  stroke: var(--nav-clr);
}

.nav-a { display: flex; }

.nav-logo {
  opacity: 0;
  background: linear-gradient(
    90deg,
    hsl(233, 100%, 65%) 0%,
    hsl(19, 61%, 55%) 100%
  );
  fill: white;
  padding: 0.25rem;
  border-radius: 0.5rem;
  animation: nav-link-fade 300ms ease-in-out forwards;
  transition: 300ms ease-in-out;
  transition-property: fill, outline, filter;
}

.nav-logo:active {
  filter: brightness(1.2);
  cursor: pointer;
}

@media (hover : hover) {
  .nav-icon-container:hover, .bar-container:hover {
    cursor: pointer;
    background-color: rgba(163, 163, 219, 0.408);
  }
  .nav-logo:hover {
    filter: brightness(1.2);
    cursor: pointer;
  }
}