#intro.section-container {
  height: 80vh;
}

#intro .section {
  display: flex;
  gap: 2em;
}

.intro {
  opacity: 0;
  transform: translateY(0.4em);
  animation: intro-fade 500ms 1.5s ease-in-out forwards;
}

@keyframes intro-fade {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.intro-heading {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    135deg,
    var(--secondary-clr) 0%,
    var(--accent-clr) 100%
  );
  width: fit-content;
  font-weight: 300;
  font-size: 4em;
}

.intro-subheading {
  color: var(--secondary-clr);
  font-size: 3.8em;
  font-weight: 500;
}

.intro-btn {
  border: 2px solid var(--accent-clr);
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  background: transparent;
  color: inherit;
  font-size: 1.1rem;
  transition: border-color 200ms ease-in-out;
}
.intro-btn:nth-of-type(2) {
  margin-top: 1rem;
  margin-right: 1rem;
}
.intro-btn:hover {
  cursor: pointer;
  border-color: var(--secondary-clr);
}

.intro-greet {
  border-radius: 1rem;
  border-bottom-left-radius: 0;
  width: fit-content;
  margin-bottom : 1rem;
}
.intro-greet::selection {
  background: var(--primary-bg);
}
.intro-greet:hover {
  cursor: unset;
  border-color: var(--accent-clr);
}

.intro-links {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.intro-links svg {
  height: 1.5rem;
  width: 1.5rem;
  fill : var(--primary-clr);
  transition: transform 200ms ease-in-out, fill 500ms ease-in-out;
}
.intro-links svg:hover {
  cursor: pointer;
  fill : var(--link-clr);
  transform: translateY(-0.2rem);
}