footer {
  font-size: var(--font-size);
  background-color: var(--alt-bg);
  padding: 1.25rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  transition: 300ms background-color ease-in-out;
}

@media (max-width: 550px) {
  footer {
    flex-direction: column;
    padding: 1.25rem 1.5rem;
  }
}

footer .socials {
  display: flex;
  gap: clamp(0.75rem, 1.5vw, 1rem);
}

.footer-link svg {
  width: clamp(1.2rem, 2.5vw, 1.4rem);
  height: clamp(1.2rem, 2.5vw, 1.4rem);
  transition: 300ms ease-in-out;
}

.footer-link:hover svg {
  transform: none;
}
