.App {
  min-height: 100vh;
  background: var(--primary-bg);
  color: var(--primary-clr);
  transition : 400ms ease-in-out;
  transition-property : background-color, color;
}

.main {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

@media (max-width: 766px) {
  .main {
    width: 70%;
  }
}

@media (max-width: 666px) {
  .main {
    width: 80%;
  }
}

@media (max-width: 577px) {
  .main {
    width: 90%;
  }
}