.App {
  min-height: 100vh;
  color: var(--primary-clr);
  background-color: var(--primary-bg);
  transition : 400ms ease-in-out;
  transition-property : background-color, color;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.spacer {
  aspect-ratio: 960 / 100;
  width: 100%;
  background-size: cover;
  background-image: var(--url);
  transition : 400ms ease-in-out;
}

.spacer2 {
  background-image: var(--url-r);
}
