.App {
  min-height: 100vh;
  color: var(--primary-clr);
  background-color: var(--primary-bg);
  transition : 400ms ease-in-out;
  transition-property : background-color, color;
}

main {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  main {
    width: 60%;
  }
}

@media (max-width: 750px) {
  main {
    width: 75%;
  }
}

@media (max-width: 600px) {
  main {
    width: 80%;
  }
}

@media (max-width: 550px) {
  main {
    width: 85%;
  }
}


@media (max-width: 505px) {
  main {
    width: 90%;
  }
}