@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

/* VERY  IMPORTANT: css reset, for all browsers */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  --primary-bg: hsl(218 80% 10%);
  --alt-bg: hsl(218 81% 6%);
  --tech-bg: hsl(218 80% 23%);
  --primary-clr: hsl(0 30% 85%);
  --secondary-clr: hsl(218 80% 73%);
  --accent-clr: hsl(19 80% 66%);
  --gradient: linear-gradient(
    135deg,
    var(--secondary-clr) 0%,
    var(--accent-clr) 100%
  );
  --nav-gradient : linear-gradient(135deg, var(--secondary-clr) 0%, var(--secondary-clr) 100%);
  --link-clr: hsl(0, 0%, 100%);
  --nav-clr: hsl(0, 0%, 100%);
  --box-shadow-clr: hsl(0 0% 0%);
  --url: url('./assets/wave2.svg');
  --url-r: url('./assets/wave3.svg');
}

.light {
  --primary-bg: hsl(0 0% 100%);
  --alt-bg: hsl(0 0% 93%);
  --tech-bg: hsl(218 80% 30%);
  --primary-clr: hsl(0 10% 10%);
  --secondary-clr: hsl(218 80% 40%);
  --accent-clr: hsl(19 80% 50%);
  --link-clr: hsl(218 80% 40%);
  --nav-clr: hsl(0 0% 10%);
  --box-shadow-clr: hsl(0 0% 70%);
  --url: url('./assets/wave2-light.svg');
  --url-r: url('./assets/wave3-light.svg');
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  animation: overflow 1s 1.7s ease-in-out forwards;
  background-color: var(--primary-bg);
}

@keyframes overflow {
  to { overflow-y: scroll; }
}

body::-webkit-scrollbar {
  width: 0.8rem;
  background-color: rgb(58, 56, 56);
}

body::-webkit-scrollbar-thumb {
  background-color: hsl(240, 63%, 55%);
}

body::-webkit-scrollbar-track-piece:end {
  margin-bottom: 1rem;
}

body::-webkit-scrollbar-track-piece:start {
  margin-top: 1rem;
}

p {
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

code {
  font-size: 0.95rem;
  font-family: monospace;
}

a {
  text-decoration: none;
  background-repeat: no-repeat;
  transition: 250ms ease-in-out;
}
