@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

/* VERY  IMPORTANT: css reset, for all browsers */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* CSS Variables */
body {
  --primary-bg: hsl(218 80% 10%);
  --alt-bg: hsl(218 81% 6%);
  --tech-bg: hsl(218 80% 23%);
  --primary-clr: hsl(0 30% 85%);
  --secondary-clr: hsl(218 80% 73%);
  --accent-clr: hsl(19 80% 66%);
  --gradient: linear-gradient(
    135deg,
    var(--secondary-clr) 0%,
    var(--accent-clr) 100%
  );
  --nav-gradient: linear-gradient(
    135deg,
    var(--secondary-clr) 0%,
    var(--secondary-clr) 100%
  );
  --link-clr: hsl(0, 0%, 100%);
  --nav-clr: hsl(0, 0%, 100%);
  --box-shadow-clr: hsl(0 0% 0%);
  --url: url('./assets/svg/wave2.svg');
  --url-r: url('./assets/svg/wave3.svg');
}

.light {
  --primary-bg: hsl(0 0% 100%);
  --alt-bg: hsl(0 0% 93%);
  --tech-bg: hsl(218 80% 30%);
  --primary-clr: hsl(0 10% 10%);
  --secondary-clr: hsl(218 80% 40%);
  --accent-clr: hsl(19 80% 50%);
  --link-clr: hsl(218 80% 40%);
  --nav-clr: hsl(0 0% 10%);
  --box-shadow-clr: hsl(0 0% 70%);
  --url: url('./assets/svg/wave2-light.svg');
  --url-r: url('./assets/svg/wave3-light.svg');
}

/* Global Styles */
body {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  animation: overflow 1s 1.7s ease-in-out forwards;
  background-color: var(--primary-bg);
}

@keyframes overflow {
  to {
    overflow-y: scroll;
  }
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 0.8rem;
  background-color: rgb(58, 56, 56);
}

body::-webkit-scrollbar-thumb {
  background-color: hsl(240, 63%, 55%);
}

body::-webkit-scrollbar-track-piece:end {
  margin-bottom: 1rem;
}

body::-webkit-scrollbar-track-piece:start {
  margin-top: 1rem;
}

/* General Elements */
p {
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

code {
  font-size: 1rem;
  font-family: monospace;
}

/* Links + Svg's */

a {
  text-decoration: none;
  background-repeat: no-repeat;
  transition: 250ms ease-in-out;
}

a:has(> svg) {
  display: flex;
}

a > svg {
  color: var(--primary-clr);
  transition: 250ms ease-in-out;
}

@media (hover: hover) {
  a:hover > svg {
    cursor: pointer;
    color: var(--link-clr);
    transform: translateY(-0.2rem);
  }
  .project-links a:hover > svg {
    transform: none;
  }
  a:hover > .nav-logo {
    fill: white;
    filter: brightness(1.2);
  }
}

/* Headings */

h1 {
  width: fit-content;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--gradient);
  font-weight: 300;
}

h1, h2 { font-size : 4rem; }
h2, h3 { color : var(--secondary-clr); }
h2, h3, h4 { transition: 300ms ease-in-out; }

h2 { font-weight: 400;}

h3 {
  font-size: 2.5rem;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.05rem solid var(--secondary-clr);
}

h4 {
  font-size: 2rem;
  color: var(--accent-clr);
}

@media (max-width: 520px) {
  h1, h2 { font-size: 3.2rem; }
  h3 { font-size: 2rem; }
  h4 { font-size: 1.5rem; }
}
