@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* CSS Variables */
body {
  /* Colors */
  --primary-bg: hsl(218, 80%, 10%);
  --alt-bg: hsl(218, 81%, 6%);
  --primary-clr: hsl(0 30% 85%);
  --secondary-clr: hsl(218, 80%, 73%);
  --accent-clr: hsl(19 80% 66%);
  --gradient: linear-gradient(
    135deg,
    var(--secondary-clr) 0%,
    var(--accent-clr) 100%
  );
  --nav-gradient: linear-gradient(
    135deg,
    var(--secondary-clr) 0%,
    var(--secondary-clr) 100%
  );
  --link-clr: hsl(0, 0%, 100%);
  --nav-clr: hsl(0, 0%, 100%);
  --box-shadow-clr: hsl(0 0% 0%);
  --url: url(./assets/svg/w1d.svg);
  --url-r: url(./assets/svg/w2d.svg);
  /* Fonts */
  --font-size: clamp(1.05rem, 3vw, 1.1rem);
}

.light {
  --primary-bg: hsl(218, 81%, 94%);
  --alt-bg: hsl(218, 80%, 90%);
  --tech-bg: hsl(218 80% 25%);
  --primary-clr: hsl(0 0% 20%);
  --secondary-clr: hsl(218 80% 40%);
  --accent-clr: hsl(19 80% 55%);
  --link-clr: hsl(0 0% 0%);
  --nav-clr: hsl(0 0% 0%);
  --box-shadow-clr: hsl(0 0% 70%);
  --url: url(./assets/svg/w1l.svg);
  --url-r: url('./assets/svg/w2l.svg');
}

/* Global Styles */
body {
  overflow-x: hidden;
  overflow-y: hidden;
  animation: overflow 1s 1.7s ease-in-out forwards;
  background-color: var(--primary-bg);
}

@keyframes overflow {
  to {
    overflow-y: scroll;
  }
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: clamp(0.6rem, 1vw, 0.8rem);
  background-color: rgb(58, 56, 56);
}

body::-webkit-scrollbar-thumb {
  background-color: hsl(240, 63%, 55%);
  border-radius: clamp(0.3rem, 1vw, 0.4rem);
}

body::-webkit-scrollbar-track-piece:end {
  margin-bottom: 1rem;
}

body::-webkit-scrollbar-track-piece:start {
  margin-top: 1rem;
}

/* General Elements */
p {
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

code {
  font-size: var(--font-size);
  font-family: monospace;
}

/* Links + Svg's */

a {
  color: currentColor;
  text-decoration: none;
  background-repeat: no-repeat;
  transition: 250ms ease-in-out;
}

a:has(> svg) {
  display: flex;
}

a > svg {
  color: var(--primary-clr);
  transition: 250ms ease-in-out;
}

@media (hover: hover) {
  a:hover > svg {
    cursor: pointer;
    color: var(--link-clr);
    transform: translateY(-0.2rem);
  }
  .project-links a:hover > svg {
    transform: none;
  }
  a:hover > .nav-logo {
    fill: white;
    filter: brightness(1.2);
  }
}

/* Headings */

h1 {
  width: -moz-fit-content;
  width: fit-content;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--gradient);
  font-weight: 300;
}

:is(h1, h2) {
  font-size: calc(3rem + 1vw);
}

h2 {
  font-weight: 400;
}

:is(h2, h3) {
  color: var(--secondary-clr);
  transition: 300ms ease-in-out;
}

h3 {
  font-size: clamp(2rem, 2.5vw, 2.5rem);
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.05rem solid var(--secondary-clr);
}

h4 {
  font-size: clamp(1.5rem, 2vw, 2rem);
  color: var(--accent-clr);
  transition: 300ms ease-in-out;
}
